---
// @layouts/templates/Year.astro

import Icon from '@atoms/Icon.astro'
import Backdrop from '@atoms/Backdrop.astro'
import Masthead from '@blocks/Masthead.astro'
import QuoteLooping from '@blocks/partials/QuoteLooping.astro'
import Clip from '@blocks/partials/Clip.astro'
import { _getQuotes } from '@scripts/data/get-quotes'
import Crosshairs from '@blocks/Crosshairs.astro'
import Playhead from '@blocks/controls/Playhead.astro'
import Carousel from '@composites/Carousel.astro'
import ReelReveal from '@blocks/modals/ReelReveal.astro'
import { _getYouTubeId } from '@scripts/utils/get-youtube-id'
import Quotes from '@composites/Quotes.astro'

type VideoData = {
	title: string
	description: string
	cta: string
	clip: string
	video: string
	duration?: string
}

interface Props {
	entry: any
	data: {
		title: string
		description: string
		video?: VideoData
	}
	Content: any
	headings?: any
}

const { data } = Astro.props as Props

const quoteEntries = await _getQuotes('2025')
const quotesAll = (quoteEntries ?? [])
	.map((q) => ({
		full: q?.data?.quote?.full,
		author: q.data.author,
	}))
	.filter((q) => q.full)
const pullsAll = (quoteEntries ?? [])
	.map((q) => q?.data?.quote?.pull)
	.filter(Boolean)

const splitAt = Math.ceil(pullsAll.length / 2)
const pullsA = pullsAll.slice(0, splitAt)
const pullsB = pullsAll.slice(splitAt)

const v = data.video
---

<div class='relative isolate max-w-420 mx-auto w-full min-h-dvh overflow-clip'>
	<Backdrop />

	<div
		class='grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 auto-rows-min items-start'>
		<header class='pbl-header col-span-full p-(--space)'>
			<Icon name='logo' class='w-[clamp(6rem,7vw,7.5rem)]' />
		</header>

		<QuoteLooping
			pulls={pullsA}
			duration={12000}
			class:list={[
				'col-span-full row-start-2 md:col-span-4 md:col-start-5 lg:col-span-3 lg:col-start-10',
				'p-(--space) pt-[calc(var(--space)*1.5)] md:py-0 lg:-mt-[calc(var(--space)/2)]',
				'z-30',
			]}
		/>

		<Masthead
			class:list={[
				'col-span-full justify-self-center lg:col-start-2 lg:col-span-10',
				'p-(--space) lg:pb-0 lg:-mt-[calc(var(--space)/1.5)]',
				'z-30',
			]}
		/>

		<p
			class:list={[
				'col-span-full row-start-4 lg:col-start-8 lg:col-end-11 lg:justify-self-end',
				'p-(--space) lg:px-0 lg:pb-0',
				'text-(--text-body-dark-fixed) text-xl xl:text-2xl leading-snug max-w-[45ch] lg:max-w-none',
				'z-30',
			]}>
			{data.description}
		</p>

		<Crosshairs
			class:list={[
				'col-span-full row-start-5',
				'-mt-[calc(var(--space)*4)]',
				'lg:col-start-7 lg:col-end-12',
				'w-full aspect-square',
				'z-10',
			]}
		/>

		<Playhead
			data-pbl-reel-trigger
			data-pbl-video-id={_getYouTubeId(v?.video)}
			data-pbl-video-title={v?.title}
			class:list={[
				'col-span-full row-start-5',
				'-mt-[calc(var(--space)*4)]',
				'lg:col-start-7 lg:col-end-12',
				'w-full aspect-square',
				'z-40',
			]}
			cta={v.cta}
		/>

		<Clip
			class:list={[
				'col-span-full row-start-5',
				'w-full place-self-center -mt-[calc(var(--space)*4)]',
				'lg:col-start-8 lg:col-end-11',
				'z-30',
			]}
			clip={v.clip}
			duration={v.duration}
			aria-label={v.title}
		/>

		<QuoteLooping
			pulls={pullsB}
			duration={10000}
			class:list={[
				'col-span-full row-start-6 lg:row-start-5 lg:col-start-1 lg:col-end-5',
				'h-full place-content-center',
				'p-(--space) pb-[calc(var(--space)*2)] lg:-mt-[calc(var(--space)*1.5)] lg:pb-0',
				'z-30',
			]}
		/>

		<Carousel
			year='2025'
			class:list={[
				'col-span-full row-start-7',
				'lg:-mt-[calc(var(--space)*3)]',
				'z-30',
			]}
		/>

		<Quotes
			quotes={quotesAll}
			class:list={[
				'col-span-full row-start-8',
				'px-(--space) py-[calc(var(--space)*4)]',
				'z-30',
			]}
		/>
	</div>

	<ReelReveal />
</div>
