---
// @layouts/templates/Year.astro

import Icon from '@atoms/Icon.astro'
import Backdrop from '@atoms/Backdrop.astro'
import Masthead from '@blocks/Masthead.astro'
import Quote from '@blocks/partials/Quote.astro'
import Clip from '@blocks/partials/Clip.astro'
import { _getQuotes } from '@scripts/data/get-quotes'
import Reel from '@composites/Reel.astro'

type VideoData = {
	title: string
	description: string
	cta: string
	clip: string
	video: string
	duration?: string
}

interface Props {
	entry: any
	data: {
		title: string
		description: string
		video?: VideoData
	}
	Content: any
	headings?: any
}

const { data } = Astro.props as Props

const quotes = await _getQuotes('2025', 1)
const quote = quotes?.[0]
const pull = quote?.data?.quote?.pull
const v = data.video
---

<div class='relative isolate max-w-420 mx-auto w-full min-h-dvh overflow-clip'>
	<Backdrop />

	<div
		class='grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 auto-rows-min items-start'>
		<header class='col-span-full p-(--space-page)'>
			<Icon name='logo' class='w-[clamp(6rem,7vw,7.5rem)]' />
		</header>

		<aside
			class:list={[
				'col-span-full row-start-2 md:col-span-4 md:col-start-5 lg:col-span-4 lg:col-start-9',
				'p-[calc(var(--space-page)*1.5)] md:py-0!',
				'z-30',
			]}>
			{pull && <Quote pull={pull} />}
		</aside>

		<Masthead
			class:list={[
				'col-span-full justify-self-center lg:col-start-2 lg:col-span-10',
				'p-(--space-page) lg:pb-0',
				'z-30',
			]}
		/>

		<p
			class:list={[
				'col-span-full row-start-4 lg:col-start-8 lg:col-end-11 lg:justify-self-end',
				'p-(--space-page) lg:px-0 lg:p-0',
				'text-(--text-body-dark-fixed) text-xl lg:text-2xl leading-snug max-w-[45ch]',
				'z-30',
			]}>
			{data.description}
		</p>
		<Reel
			class:list={[
				'col-span-full row-start-5',
				'-mt-[calc(var(--space-page)*3.5)]',
				'lg:col-start-7 lg:col-end-12',
				'pointer-events-none',
				'z-10',
			]}
		/>
		<Clip
			class:list={[
				'col-span-full row-start-5',
				'w-full place-self-center -mt-[calc(var(--space-page)*3.5)]',
				'lg:col-start-8 lg:col-end-11',
				'z-30',
			]}
			video={v.video}
			clip={v.clip}
			duration={v.duration}
			aria-label={v.title}
		/>
	</div>
</div>
